*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    margin: 0;
	padding: 0;
	background: url(../img/carro.jpeg);
	background-size: cover;
	font-family: century;
	height: 100vh;
	background-attachment: fixed; 
	font-family: 'Century Gothic';
    
}