* {
    padding: 0px;
    margin: 0px;
}



header {
    background: rgb(102, 101, 101);
}

#header{
    margin:;
    width:500px;
    font-family: Arial, Helvetica, sans-serif;
}

#cerrar  li a{
    margin-left: 1200px;
    background-color: rgb(102, 101, 101);
    color: azure;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

#cerrar li a:hover {
    background-color: #434343;
}

ul, ol {
    list-style:none;
}

.nav li a {
    background-color: rgb(102, 101, 101);
    color: azure;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav li a:hover {
    background-color: #434343;
}

.nav > li {
    float: left;
}

.nav li ul {
    display:none;
    position: absolute;
    min-width: 100px;
}

.nav li:hover > ul {
    display: block;
}