body{
    width: 100%;height: 100vh;

    font-family:arial, helvetica, sans-serif;
    background: url(../img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
*{
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

    background: #fff;
    padding: 3px;

}
h1{
    text-align: center;
    color: #75cb31;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #75cb31;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
    color: #75cb31;
    font-weight: 600;
}
.link:hover{
    color: cadetblue;
}
@media(min-width: 768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        border-radius: 2%;
    }
}