*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    margin: 0;
	padding: 0;
	background: url(../img/contacto2.jpg);
	background-size: cover;
	font-family: century;
	height: 100vh;
	background-attachment: fixed; 
    font-family: 'Century Gothic';
    
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

img{
	max-width: 100%;
}

/*==========================================*/





.navegacion{
	width: 100%;

background: #1C1C1C;

display: flex;
justify-content: center;
}

.menu{
width: 1000px;
display: flex;
flex-wrap: wrap;
height: 90px;
}

.menu li{
flex-basis: 0;
flex-grow: 1;
border-right: 1px solid #363636;
position: relative;
}

.menu .first-item{
border-left: 1px solid #363636;
}

.menu li a{
display: flex;
flex-direction: column;
font-size: 18px;
}

.menu .imagen{
position: absolute;
bottom: 0;
right: 30px;
width: 0%;
z-index: 20;

-webkit-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
 -moz-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
	 -o-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
			transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */

-webkit-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
 -moz-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
	 -o-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
			transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */

	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
}

.menu li a .text-item{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
color: #fff;
top: 0%;
position: absolute;
z-index: 10;

-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
 -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
	 -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
			transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */

-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
 -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
	 -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
			transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}

.menu li a .down-item{
position: absolute;
top: 0%;
width: 100%;
height: 100%;
background: #1C1C1C;

-webkit-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
 -moz-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	 -o-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
			transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */

-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
 -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	 -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
			transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}

.menu li:hover .down-item, .menu li:hover .text-item{
top: 100%;
height: 25%;
}

.menu li:hover .imagen{
width: 100%;
right: 0px;
}

#menu1 {
	
}

#lolo{
	width: 900px;
	background: rgba(209, 209, 209, 0.9);
	margin: 2rem auto;
    border: solid #B2CE84;
    text-align: center;
    border-radius: 40px;
}

#hola {
    width: 70%;
    border-radius: 40px;
}




