{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>carrito</title>
    <link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{%static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{%static 'css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{%static 'css/price-range.css' %}" rel="stylesheet">
    <link href="{%static 'css/animate.css' %}" rel="stylesheet">
	<link href="{%static 'css/main.css' %}" rel="stylesheet">
	<link href="{%static 'css/responsive.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{%static 'css/estilos1.css' %} ">
	<link rel="stylesheet" type="text/css" href="{%static 'css/estilos3.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/estilos5.css' %}">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>

	{%include 'navigation.html'%}

		
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				</ol>
			</div >
				<div class="fondo">
				<div class="table-responsive cart_info">
					<table class="table table-condensed">
						<thead>
							<tr class="cart_menu">
								<td class="image">Item</td>
								<td class="description"></td>
								<td class="price">Precio</td>
								<td class="quantity">Cantidad</td>
								<td class="total">Total</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							{%for contenido in object_list%}
							<tr>							
								{%if contenido.verdura%}
								<td class="cart_product">
									<a href=""><img class="lo" src="{{contenido.verdura.imagen.url}}" alt=""></a>
								</td>
								<td class="cart_description">
									<h4><a href="">{{contenido.verdura.nombre}}</a></h4>
									<p>Web ID: {{contenido.verdura.pk}}</p>
								</td>
								<td class="cart_price">
									<p>{{contenido.verdura.precio}}</p>
								</td>
								{%else%}
								<td class="cart_product">
									<a href=""><img class="lo" src="{{contenido.fruta.imagen.url}}" alt=""></a>
								</td>
								<td class="cart_description">
									<h4><a href="">{{contenido.fruta.nombre}}</a></h4>
									<p>Web ID: {{contenido.fruta.pk}}</p>
								</td>
								<td class="cart_price">
									<p>{{contenido.fruta.precio}}</p>
								</td>
								{%endif%}
								
								<td class="cart_quantity">
									<div class="cart_quantity_button">
										<input class="cart_quantity_input" type="text" name="quantity" value="{{contenido.cantidad}}" autocomplete="off" size="2" disabled="">
									</div>
								</td>
								<td class="cart_total">
									<p class="cart_total_price">${{contenido.total_pagar}}</p>
								</td>
								<td class="cart_delete">
									<a class="cart_quantity_delete" href="{%url 'main:eliminar_item' contenido.pk%}"><i class="fa fa-times"></i></a>
								</td>
							</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section> <!--/#cart_items-->

	