{%load static%}
<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <title>Frutas y Verduras</title>
                <link rel="stylesheet" href="{%static 'css/yeison.css' %}">
                <link rel="stylesheet" type="text/css" href="{%static 'css/estilos1.css'%} ">
                <link href="{%static 'css/font-awesome.min.css' %}" rel="stylesheet">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
              </head>


<body>
	

	{%include 'navigation.html'%}

    <div id="lolo">
        <img src="{%static 'img/contactanos.jpg' %}" alt="servicio al cliente">
        <h3>Contamos con un servicio de de 9:a.m hasta las 9:p.m <br/>
            Dirección: Calle 41, #1102 primer piso <br/>
            Celular: 3124526911 <br/>
		</h3> <br/> <br/>
		
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3975.597983391334!2d-75.67498628555313!3d4.8388826417920034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3880dea3bbf511%3A0xed80aa175f81d686!2sCl.+41+%2311-2%2C+Dosquebradas%2C+Risaralda!5e0!3m2!1ses!2sco!4v1557760874677!5m2!1ses!2sco" width="800" height="450"  frameborder="0" style="border:0" allowfullscreen></iframe>


	</div>
	
	

    
    
</body>

</html>