{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title>OFERTAS</title>
	<meta charset="utf-8">
	
	<link rel="stylesheet" href="{%static 'css/estilo.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/estilos1.css'%} ">
	<link href="{%static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
	
	</div>

<body>

	
	{%include 'navigation.html'%}
	<div id="lolo">
    <div class="cuerpo">
	<h1  class="of">OFERTAS</h1>


	<h2>Ofertas en verduras desde el 12 hasta el 29 de mayo; toda verdura que encuentres estara en oferta. Aprovecha hasta el maximo esta oportunidad.</h2><img src="{%static 'img/verduras.jpg' %}">
</br></br>

	<h2 ><b>¿Te gustan las manzanas?</b> aprovecha, este fin de semana podras llevar 2  manzanas màs por la compra de 3 no la dejes pasar.</h2><img src="{%static 'img/manz.jpg' %}"></br></br>

	<h2><b>35% de descuento en frutas y verduras por la compra de mas de 50.000 COP.</h2><img src="{%static 'img/oferta.jpg' %}"></br></br>


	
</div>
</div>
</body>
</html>
