{%load static%}
<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <title>Frutas y Verduras</title>
				<link rel="stylesheet" href="{%static 'css/estilos.css' %}">
				<link rel="stylesheet" href="{%static 'css/nivo-slider.css' %}">
				<link rel="stylesheet" href="{%static 'css/mi-slider.css' %}">
				 <link href="{%static 'css/font-awesome.min.css' %}" rel="stylesheet">
				<link rel="stylesheet" type="text/css" href="{%static 'css/estilos1.css'%} ">
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
				
				<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
				<script src="{%static 'js/jquery.nivo.slider.js' %}"></script>

				<script type="text/javascript"> 
					$(window).on('load', function() {
		    		$('#slider').nivoSlider(); 
					}); 
				</script>
        </head>


<body>
	

	{%include 'navigation.html'%}
	<div id="lolo">

		<div class="slider-wrapper theme-mi-slider">
			<div id="slider" class="nivoSlider">     
				<img src="{%static 'img/frutas1.jpg' %}" alt="" title="#htmlcaption1" />    
				<img src="{%static 'img/frutas2.jpg' %}" alt="" title="#htmlcaption2" />    
				<img src="{%static 'img/holi.jpg' %}" alt="" title="#htmlcaption3" />
				<img src="{%static 'img/agricultor.jpg' %}" alt="" title="#htmlcaption4" />     
			</div> 
			<div id="htmlcaption1" class="nivo-html-caption">     
				<h1>35% de descuento en fruta y verduras por la compra <br/>
					de productos con targeta de credito.</h1>
			</div>
			<div id="htmlcaption2" class="nivo-html-caption">     
				<h1> La frescura llega al verano.</h1>
			</div>
			<div id="htmlcaption3" class="nivo-html-caption">     
				<h1> Traído del mejor cultivo de Colombia</h1>
				<div id="htmlcaption4" class="nivo-html-caption">
					<h1>Traido del mejor cultivador de Colombia</h1>
				</div>
			</div>
		</div>
	</div>
        

    </div>

    
    
</body>

</html>