{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
	 <meta charset="utf-8">
    <title>Iniciar Sesión</title>
    <meta name="viewport" content="width= device-width, user-scalable=yes, initial- scale= 1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet"href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{%static 'css/style1.css' %}">
</head>
<body>
	<form class="formulario" method="POST" action="{%url 'main:login'%}">{%csrf_token%}
      <h1>Iniciar Sesión</h1> 
      <div class="contenedor">

        <div class="input-contenedor">
            <i class="fas fa-envelope-square icon"></i>
            <input id="id_username" name="username" type="text" placeholder="Correo Electronico" required>
        </div>

        <div class="input-contenedor">
            <i class="fas fa-lock icon"></i>
            <input id="id_password" name="password" type="password" placeholder="Contraseña" required>
        </div>

        <input type="submit" value="Iniciar Sesión" class="button">
        <p></p>
        <p>¿No tienes una cuenta? <a class="link" href="{% url 'main:registrarse' %}">Registrate</a></p>
      </div>
   </form> 
</body>
</html>