{%load static%}
<header>
	<nav>
		<div>
			<ul class="nav">
				<li><a href="{%url 'main:inicio'%}">Inicio</a></li>
				<li><a href="#">servicios</a>
					 <ul>
						<li><a href="{% url 'main:frutas' %}">frutas</a></li>
						<li><a href="{% url 'main:verduras' %}">verduras</a></li>
						
					</ul>
				</li>
				<li><a href="{%url 'main:descuento' %}">descuentos</a></li>
				<li><a href="{%url 'main:contacto' %}">contactanos</a></li>
				<li><a href="{%url 'main:carro' %}" class="active"><i class="fa fa-shopping-cart"></i> Cart</a></li>
				<li style="padding-left: 740px"><a href="{%url 'main:logout'%}">cerrar sesion</a></li>
			</ul>
		</div>
	</nav>	
</header>
