{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Crear cuenta</title>
    <meta name="viewport" content="width= device-width, user-scalable=yes, initial- scale= 1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet"href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
   <form class="formulario" method="POST" action="{%url 'main:registrarse'%}"> {%csrf_token%}
      <h1>Crear cuenta</h1> 
      <div class="contenedor">

        <div class="input-contenedor">
            <i class="far fa-user icon"></i>
            <input id="field-2" name="first_name" type="text" placeholder="Nombre Completo">
        </div>

        <div class="input-contenedor">
            <i class="fas fa-envelope-square icon"></i>
            <input name="username" id="field-3" type="text" placeholder="Correo Electronico">
        </div>

        <div class="input-contenedor">
            <i class="fas fa-lock icon"></i>
            <input name="password1" id="field-4" type="password" placeholder="Contraseña">
        </div>

        <div class="input-contenedor">
            <i class="fas fa-lock icon"></i>
            <input name="password2" id="field-5" type="password" placeholder="Contraseña">
        </div>
        <input type="submit" value="Registrarte" class="button">
        <p>Al registrarte, aceptas nuestras condiciones de uso y politica de privacidad.</p>
        <p>¿Ya tienes una cuenta? <a class="link" href="{% url 'main:login' %}">Iniciar Sesiòn</a></p>
      </div>
   </form> 
</body>
</html>