{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title>VERDURAS</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{%static 'css/estiles.css'%} ">
	<link rel="stylesheet" type="text/css" href="{%static 'css/estilos1.css'%} ">
	<link href="{%static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	{%include 'navigation.html'%}
	<div class="done">	
		<h1>VERDURAS</h1>
		<table>
			{% for contenido in object_list %}
				<td>
					<div class="banano">
						<img class="ban"src="{{contenido.imagen.url}}">
						<h2>{{contenido.nombre}} {{forloop.counter}}</h2>
						<p>L${{contenido.precio}}</p>
						<div id="ol">
						<button onclick="verdura({{contenido.pk}})" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">comprar</button>
						</div>
					</div>
				</td>
				{%if forloop.counter in li %}
					<tr>
				{%endif%}
				{%if forloop.counter in li %}
					</tr>
				{%endif%}

				
			{%endfor%}
		</table>
		<!-- Modal -->
		
	</div>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form name="data-carrito" method="POST" action="{%url 'main:carrito'%}">{%csrf_token%}
		        	<label class="form-control">Cantidad a comprar</label>
		        	<input type="hidden" name="producto" value="verdura">
		        	<input id="producto" type="hidden" name="id_producto">
		        	<input class="form-control" type="number" name="cantidad" value="0">
		        	<input type="submit" name="Guardar" class="btn btn-primary">
		        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        </form>
		      </div>
		    </div>
		  </div>
		</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript">
	$('#myModal').on('shown.bs.modal', function () {
		  $('#myInput').trigger('focus')
		})
	</script>
	<script type="text/javascript">
		function verdura(id){
			console.log(id);
			var data = document.getElementById("producto");
			data.value=id;
		}
	</script>
</body>
</html>